@import "../../styles/vars";

.month-table {
    border: 2px solid black;
    border-collapse: collapse;
}
.size-default.month-table {
    min-width: 990px;
    height: 350px;
    font-size: 1rem;
}
.size-small.month-table {
    width: 150px;
    height: 150px;
    font-size: 0.6rem;
    border: 1px solid lightgray;
}

.table-head {
    width: 14.2%;
    border: 1px solid black;
}

.table-body td {
    width: 14.2%;
    height: 100px;
    min-height: 60px;
    vertical-align: top;
    text-align: left;
    border: 1px solid black;
    cursor: pointer;

    &:hover {
        background-color: $background-mouse;
    }
}
.size-small.table-body td {
    text-align: center;
}

.current-day {
    background-color: $background-selected;
}

td.month-outside {
    color: lightgray;
    cursor: unset;
    &:hover {
        background-color: initial;
    }
}

.show-more {
   
    text-align: center;
}
