@import "../../styles/vars";

.month-table{
   
    border: 2px solid black;
    border-collapse: collapse;
}
.table-head{
    height: 50px;
    border: 1px solid black;
}
.table-body td{
    width: 150px;
    height: 70px;
    text-align: left;
    border: 1px solid black;  
    cursor: pointer;

    &:hover{
        background-color: $background-mouse;
    }
}


.current-day{
    background-color: $background-selected;
}

td.month-outside{
   color: lightgray;
   cursor: unset;
   &:hover{
       background-color: initial;
   }
}