@import "../../styles/vars";

.week-table{
    table-layout: fixed;
    border: 2px solid black;
    border-collapse: collapse;
}
.table-head{
    border: 1px solid black;
}
.table-body td{
    width: 150px;
    height: 25vh;
    vertical-align: top;
    text-align: left;
    border: 1px solid black;  
    cursor: pointer;

    &:hover{
        background-color: $background-mouse;
    }
}
.td-container{
    overflow-y: auto;
    max-height: 25vh;

}

.current-day{
    background-color: $background-selected;
}
