@import "../../styles/vars";

.add-event {
    padding: 10px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 1);
}

form {
    padding: 10px 14px;
}

.input-block {
    display: flex;
    align-items: center;
}

.input-block label {
    min-width: 80px;
    text-align: right;
    margin-right: 10px;
}

.input-block input {
    padding: 0;
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
}

.input-block input:not([type="date"]) {
    padding: 2px 0;
}

.input-block input[type="number"] {
    margin-right: 10px;
}

.input-block input[type="number"] + input[type="number"] {
    margin-right: 0;
    margin-left: 10px;
}

.input-block + .input-block {
    margin-top: 10px;
}
.time-err {
    color: $color-invalid;
}

.controller {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
        margin-left: 10px;
    }
}
.button {
    border: 1px solid lightgray;
    border-radius: 4px;
    font-weight: bold;
    padding: 6px;
    background-color: #fff;
}
