$background-mouse: rgb(175, 226, 255);
$background-selected: rgb(41, 176, 255);
$color-border-default: #c0cde3;
$color-buttons-primary: rgb(41, 176, 255);
$color-radio-background-disabled: #f2f2f2;
$color-radio-background-disabled-checked: #c5c5c5;
$color-invalid: #fc5664;
$color-text-light: #fff;
