@import "../../styles/vars";

.table{
    width: 1070px;
    border: 2px solid black;
    border-collapse: collapse;
}
.hours{

    width: 15%;
    height: 20px;
    border: 1px solid black;
}
.events{
    width: 85%;
    height: 20px;
    border: 1px solid black;
}


